<script>document.getElementById("apph").innerHTML = "Geospatial view";</script>
{{log model}}
	<br>
	<table style="border:1px solid black">
		<tr > 
			<th style="border:1px solid black">country</th><th style="border:1px solid black">Employee count</th>
		</tr>
		{{#each model as |item|}}
				  <tr >
				  		<td style="border:1px solid black">{{item.company_location}}</td>
				  		<td style="border:1px solid black">{{item.employee_count}}</td>
				  </tr>
		{{/each}}
	</table>
{{outlet}}
